#img {
    height: auto;
    text-align: center;
}


.price{
    color: #b78f99;
}

.duo_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#container_button {
 display: flex;
 justify-content: center;
}
