/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== 
  
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  
      /* ############################################################       GLOBAL      ############################################################# */
  
@media screen and (min-width: 0px) {


     @font-face {
       font-family: "Quattrocento";
       src: url("/font/Quattrocento-Regular.ttf");
     }

     @font-face {
      font-family: "Quattrocento-Bold";
      src: url("/font/Quattrocento-Bold.ttf");
    }

     @font-face {
      font-family: 'paradise_thoughtsregular';
      src: url('/font/paradisethoughts-regular-webfont.woff2') format('woff2'),
           url('/font/paradisethoughts-regular-webfont.woff') format('woff');
    }

    @font-face {
      font-family: "AnotherDayV2";
      src: url("/font/AnotherDayV2.ttf");
    }
  
     * {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
    
    html {
      background-color:#f2e9ec;
      color: #342433;
      font-family: Quattrocento;
      line-height: 1.4;
      font-size: medium;
  
    }
  
     p {
       margin: 0.6em;
     }
  
     h1 {
      font-family: Quattrocento-Bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
      line-height: 1.1em;
      color: #b78f99;
      margin: 2em 0px;
       }
  
     h2{
      font-family: Quattrocento-Bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.8rem;
      margin: 0.8em;
    }
  
    /* h2{
      font-family: Paradise_Thoughts_Typeface;
      text-transform: capitalize;
      text-align: center;
      font-size: 3em;
      margin: 0.8em;
    } */
  
  
    a {
      text-decoration: none;
      color: #f2e9ec;
      font-size: small;
    }
  
  
      /* ############################################################      NAV   ############################################################# */
     nav { 
       background-color: #b78f99;
       color: white;
       padding: 1em;
       }
  
      nav li{
          list-style-type: none;
          margin: 0 0.2em;
  }
  
      nav div { 
        display: flex;
        flex-direction: wrap;
        justify-content:space-between;
        align-items: center;
        }
  
        .container {
          display: flex;
          justify-content: space-between;
        }
    /* ############################################################       MENU       ############################################################# */
        
    nav div menu ul {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
    
    }
  
     /* ############################################################       SOCIAL MEDIAS      ############################################################# */

     .logo_reseaux{
       display: none;
     }

    /* ############################################################       HEADER      ############################################################# */
  
  
    header img {
      width: 220px;
      display: block;
      margin: auto;
    }
  
   
  
    #presentation {
    
      background-position: center;
      font-family: Quattrocento;
      text-align: justify;
      margin : 4vh;
      background-size: cover;
    }
  
    /* ############################################################       MAIN      ############################################################# */
  
  .duo {
    display: flex;
    background-color: #f2e9ec;
    border: floralwhite 2px;
    min-height: 11em;
   }
  
   .col {
    flex: 1; 
    display: flex;
    justify-content: center;
   }
  
 
  .comment_product {
    background-color: #b78f99;
    color:#f2e9ec;
    line-height: 1.2em;
    font-size: 0.7em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
  }
  
  .price {
    color: #e3e8e7;
    font-family: 'paradise_thoughtsregular';
    font-size: 2em;
    text-align: center;
    margin: 0.4em;
    padding-bottom: 0.75em;
  }
  
  .button_clair {
    background-color: #f2e9ec;
    border:#eddad6 1px solid;
    padding: 0.4em 0.8em;
    margin: 0.6em;
  }
  
  .button_clair a{
      color: #b78f99;
  }
  
  .button_clair:hover {
      background: #b78f99;
      border:#f2e9ec 1px solid;
  }
  
  .button_clair a:hover{
      color: #f2e9ec;
  }
  
  .button_dark {
    background-color: #b78f99;
    border:#eddad6 1px solid;
    padding: 0.4em 0.8em;
    margin-bottom: 1.8em;
  }
  
  .button_dark a{
    color: #f2e9ec;
  }
  
  .button_dark:hover {
    background: #baa4a6;
    color: #221b1d;
    border:#f2e9ec 1px solid;
  }

   /* <!-- ---------Produit 1-------- --> */

  #product_1 {
    background-image: url("../img/headphones.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
  
    /* <!-- ---------Produit 2-------- --> */
  
  #product_2 {
      background-image: url("../img/notebook.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     }
    
  
  
  /* <!-- ---------Produit 3-------- --> */
  
  #product_3 {
    background-image: url("../img/claviers.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
  
   #byebye {
     background-color: floralwhite;
     margin: 0px;
     padding: 3em;
   }
  
  /* ############################################################       FOOTER      ############################################################# */
  
  section {
  background-color: #b78f99 ;
  height: 10vh;
  margin: 0px;
  padding: 0.4em;
  display: flex;
  }
  
  section a {
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    color: #f2e9ec;
    margin: auto;
    text-decoration:none;
  }

 /* ############################################################       autres pages     ############################################################# */

 .img {
  height: auto;
  text-align: center;
  border: solid 6px #b78f99;

 }

 .img_2 {
    height: auto;
    margin: auto;
    display: flex;
 }


 .price_2{
    color: #b78f99;
 }

 .duo_price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
 }

 #container_button {
 display: flex;
 justify-content: center;
 }

 .container_p {
 padding: 1em;
 text-align: justify; 
 }
 .container_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
}  
  




@media screen and (min-width: 450px) {

  
  
  p {
    margin: 0.9em;
    font-size: medium;
  }

  h1 {
   font-family: Quattrocento-Bold;
   text-transform: uppercase;
   text-align: center;
   font-size: 1em;
   line-height: 1.1em;
   color: #b78f99;
   margin: 3em 0px;
    }

  h2{
   font-family: Quattrocento-Bold;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.2rem;
   margin: 0.8em;
 }

 .comment_product {
  line-height: 2.2em;
  font-size: medium;
  }

  header img {
    width: 330px;
    display: block;
    margin: 4em auto;
  }
  .logo_reseaux{
    display: inline-flex;
  }


}



@media screen and (min-width: 800px) {

  .duo {
    min-height: 45vh;
  }
  
  p {
    margin: 0.9em;
    font-size: medium;
  }

  h1 {
   font-family: Quattrocento-Bold;
   text-transform: uppercase;
   text-align: center;
   font-size: 1em;
   line-height: 1.1em;
   color: #b78f99;
   margin: 3em 0px;
    }

  h2{
   font-family: Quattrocento-Bold;
   text-transform: uppercase;
   text-align: center;
   font-size: 1.2rem;
   margin: 0.8em;
 }

 .comment_product {
  line-height: 2.2em;
  font-size: medium;
  }

  header img {
    width: 330px;
    display: block;
    margin: 4em auto;
  }


}
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
  
 